header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
}

header > img {
  width: 32px;
}
